/* Estilos gerais do documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #ffffffde; /* Para garantir que o texto seja legível no fundo escuro */
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* padrão */
}

/* Botão que volta para o topo */
#back-to-top {
    display: flex;
    position: fixed;
    bottom: -45px; /* Hidden initially */
    right: 20px;
    background-color: #000;
    border: 1px solid #ffffff27;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    z-index: 1000;
    transition: background-color 0.2s ease-in-out, bottom 0.1s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

#back-to-top img {
    height: 100%;
    width: 100%;
}

#back-to-top:hover {
    background-color: #090909;
}

/* Fontes */
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Fixo */


/* Cabeçalho */
.profile-header {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border: 1px solid #ffffff27;
    background-color: #000;
    border-bottom: none !important;
}

.cover-photo {
    width: 100%;
    height: 300px;
    background-image: url('/assets/imgs/eueela2.jpeg');
    background-size: cover;
    background-position: center;
}

#gradient-bottom-image {
    position: absolute;
    width: 100%;
    height: 300px;
}

.profile-info {
    padding: 20px;
    text-align: left;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.profile-info p {
    margin: 5px 0 0 0;
    color: #777;
}

.post-pattern {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border: 1px solid #ffffff27;
    background-color: #000;
    padding: 20px;
    border-bottom: none !important;
}

#last-post {
    border-bottom: 1px solid #ffffff27 !important;
}

.post-pattern p {
    margin: 10px 0;
    line-height: 1.6;
    color: #ffffffd1; /* Para garantir que o texto seja legível no fundo escuro */
}

.image-gallery {
    display: grid;
    justify-content: center;
    gap: 8px;
    grid-template-columns: 49% 49%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* padrão */
}

.gallery-img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

/* CSS para modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #060606c7;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 50px;
}

#modal {
    display: none;
}

.modal-content {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    display: block;
}

/* CSS para setas de navegação */
.arrow {
    color: #fff;
    font-size: 36px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

#prev-arrow {
    left: 20px;
    padding: 6px;
    border-radius: 100%;
    display: flex;
    background-color: #000;
    border: 1px solid #ffffff27;
    padding: 6px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    transform: rotateZ(-90deg);
    transition: background-color 0.2s ease-in-out;
}

#prev-arrow img {
    height: 100%;
    width: 100%;
}

#prev-arrow:hover {
    background-color: #090909;
}

#next-arrow {
    right: 20px;
    padding: 6px;
    border-radius: 100%;
    display: flex;
    background-color: #000;
    border: 1px solid #ffffff27;
    padding: 6px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    transform: rotateZ(90deg);
    transition: background-color 0.2s ease-in-out;
}

#next-arrow img {
    height: 100%;
    width: 100%;
}

#next-arrow:hover {
    background-color: #090909;
}

/* Botão de fechar modal */
.close-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
    height: 45px;
    border: none;
    background: #000000;
    border: 1px solid #ffffff27;
    border-radius: 100%;
    transition: background 0.2s;
}

.X-close {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y-close {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    bottom: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: #000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

.close-button:hover {
    background-color: #090909;
}

@keyframes close {
    100% {
        opacity: 1;
    }
}

/* Media queries para responsividade */

/* Para telas menores que 600px */
@media (max-width: 600px) {

    #back-to-top {
        width: 50px;
        height: 50px;
    }

    .cover-photo {
        height: 200px;
    }

    #gradient-bottom-image {
        display: none !important;
    }

    .profile-info {
        padding: 20px 30px;
    }

    .profile-info h1 {
        font-size: 26px;
    }

    .profile-info p {
        font-size: 15px;
    }

    .post-pattern {
        padding: 20px 30px;
    }

    .post-pattern p {
        font-size: 15px;
    }

    .post-pattern h4 {
        font-size: 15px;
    }

    .gallery-img {
        height: 200px;
    }

    .modal-content {
        max-width: 90%;
        max-height: 80%;
    }

    .arrow {
        font-size: 28px;
    }

    #prev-arrow {
        width: 45px;
        height: 45px;
        border-radius: 0;
        font-size: 30px;
        left: 0;
    }

    #next-arrow {
        width: 45px;
        height: 45px;
        border-radius: 0;
        font-size: 30px;
        right: 0;
    }

    .close-button {
        width: 40px;
        height: 40px;
    }

    .X-close, .Y-close {
        width: 1.5em;
    }
}

/* Para telas menores que 400px */
@media (max-width: 400px) {

    .cover-photo {
        height: 150px;
    }

    .profile-info {
        padding: 15px;
    }

    .profile-info h1 {
        font-size: 24px;
    }

    .profile-info p {
        font-size: 15px;
    }

    .post-pattern {
        padding: 15px;
    }

    .post-pattern h4 {
        font-size: 15px;
    }

    .gallery-img {
        height: 150px;
    }

    .modal-content {
        max-width: 95%;
        max-height: 75%;
    }

    .arrow {
        font-size: 24px;
    }

    #prev-arrow {
        width: 35px;
        height: 35px;
        border-radius: 0;
        font-size: 24px;
        left: 0;
    }

    #next-arrow {
        width: 35px;
        height: 35px;
        border-radius: 0;
        font-size: 24px;
        right: 0;
    }

    .close-button {
        width: 30px;
        height: 30px;
    }

    .X-close, .Y-close {
        width: 1em;
    }
}